*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    align-items: center;
}


.logo {
    font-size: 24px;
    font-weight: bolder;
    margin: 20px;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    width: 100%;
    box-shadow: 0px 4px 6px rgb(0, 0, 0);
}

.nav-links {
    display: flex;
    list-style: none;
    position: relative;
    right: -400px;
    top: -45px;
letter-spacing: 3px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    padding-bottom: 5px; 
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.nav-links a:hover {
    border-bottom: 2px solid #333; 
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}


.hidden {
    display: none;
}


.lightbox-content {
    position: relative;
    text-align: center;
    width: 20px;
}

.lightbox-content img {
    max-width: 90%;
    max-height: 80vh;
}


.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}


.lightbox-thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.lightbox-thumbnails img {
    margin: 0 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    opacity: 0.6;
}

.lightbox-thumbnails img:hover {
    opacity: 1;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}



.user-cart {
    display: flex;
    align-items: center;
    position: relative;
    right: -1150px;
    top: -80px; 
}

.user-cart img {
    margin-left: 20px;
}

.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px; 
    position: relative;
    right: -20px;
}

.product-container {
    display: flex;
    padding: 40px;
    justify-content: space-between;
    background-color: #ffffff;
}

.product-image {
    position: relative;
    
}

.product-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.thumbnail-images {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.thumbnail-images img {
    width:80px ;
    height: 70px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
}


.product-details {
    flex: 1;
    padding-left: 40px;
    width: 45%;
    text-align: left;
    

}

.product-details h2 {
    color: #575c61;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
}

.product-details h1 {
    font-size: 40px;
    margin: 20px 0;
    position: relative;

}

.product-details p {
    color: #6c757d;
    font-size: 19px;
    margin-bottom: 20px;
    word-spacing: 2px;
    text-align: left;
}

.price {
    display: flex;
    align-items: center;
}

.current-price {
    font-size: 28px;
    font-weight: bold;
    margin-right: 20px;
}

.discount {
    background-color: #000000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bolder;
}

.original-price {
    text-decoration: line-through;
    color: #6c757d;
    position: relative;
    right: -20px;
}

.add-to-cart {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.quantity-selector {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.quantity-selector button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

.quantity-selector input {
    width: 40px;
    text-align: center;
    border: none;
    background-color: #f1f1f1;
}

.cart-button {
    background-color: #ff7d1a;
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
}
.qwertyuio{
    position: relative;
        left: -7px;
}
